@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KanzalLulu';
  src: url('/fonts/KanzalLulu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KanzalLulu', sans-serif;
}
